{% extends 'base.html' %}
{% load static %}
{% block title %}Hearth{% endblock %}

{% block content %}
<header style="margin-top: -70px;">
        <div class="header-content" style="padding-top: 45px;">
            <div class="header-content-inner" style="background-color: rgba(204, 204, 204, 0.5);height: 425px;padding-top: 55px;">
                <h1 id="homeHeading">Taking care of those in need.</h1>
                <hr>
                <p>Let us help you find your way.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Resources here!</a>
            </div>
        </div>
</header>
<div id="about">
  <div class="container" style="margin-top: 75px;">
      <div class="row container" style="margin-top: 75px;">
        <form class="form-horizontal col-sm-10 col-md-8" enctype="multipart/form-data" action="{% url 'search' %}" method="get">
        {{ form.as_p }}
          <div class="col-xs-2 col-sm-1 col-md-2 col-md-offset-2">
            <input type="submit" class="btn btn-info btn-md" value="Search" />
          </div>
        </form>
      </div>
      <div class="row categories">
          {% for choice in choices %}
              <div class="col-6 col-md-3 center-block" style="text-align:left;padding-left: 70px;">
                  <div class="checkbox checkbox-primary">
                      <input class type="checkbox" value="{{ choice }}">
                      <label for="checkbox">{{ choice }}</label>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
      <section id="contact">
            <div class="container">
                <div class="row" style="background-color: #1C2225;color: white;">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading" style="padding-top: 35px;">Let's Get In Touch!</h2>
                        <hr class="primary">
                        <p>Are you looking for a resource we don't have? Get in touch with us and we'll see what we can do to make your experience better!</p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x sr-contact" crossorigin="anonymous"></i>
                        <p>925-360-5153</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-envelope-o fa-3x sr-contact" crossorigin="anonymous"></i>
                        <p><a href="mailto:admin@hearthseattle.org">admin@hearthseattle.org</a></p>
                    </div>
                </div>
            </div>
        </section>   
    </div>
</div>
{% endblock %}
