{% extends 'searchlist/base.html' %}

{% block title %}Homeless to Hearth{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 75px;">
      <div class="row">
          <div class="checkbox checkbox-primary">
              <input id="checkbox1" type="checkbox" checked>
              <label for="checkbox1">Option 1</label>
          </div>
          <div class="checkbox checkbox-secondary">
              <input id="checkbox2" type="checkbox" checked>
              <label for="checkbox2">Option 2</label>
          </div>
          <div class="checkbox checkbox-thirdary">
              <input id="checkbox3" type="checkbox" checked>
              <label for="checkbox3">Option 3</label>
          </div>
      </div>
{% endblock %}