{% extends 'searchlist/base.html' %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <div class="row">
        {% if edit %}
        <div class="col-2 col-md-2">
            <input type="submit" class="btn btn-info btn-md" value="Update Resource" />
        </div>
        <div class ="col-2 col-md-2">
<a href="{% url 'delete' pk=resource.id %}" class="btn btn-danger btn-md">Delete Resource</a>
        </div>
        {% else %}
        <div class="col-2 col-md-2">
            <button><input type="submit" class="btn btn-info btn-md" value="Add Resource" /></button>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
