{% extends "searchlist/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'edit_resource' resource.pk %}">Edit Resource</a>
{% endif %}
<h1>Organization: {{ resource.org_name }}</h1>
<ul>
    <li>Main Category: {{ resource.main_category }}</li>
    <li>Ratings: {{ resource.ratings }}</li>
    <li>Tags:{{ resource.tags }}</li>
    <li>Website: {{ resource.website }}</li>
    <li>Address: {{ resource.street }} {{ resource.city }}, {{ resource.state }} {{ resource.zip_code }}</li>
    <li>Description: {{ resource.description }}</li>
</ul>
<iframe class="map-class "width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAgPIVjOnke7nERCIiuF9oLzG2HRS1AwDs&q={{resource.street}}+{{resource.city}}+,+{{resource.state}}+{{resource.zip_code}}&zoom=13"></iframe>

{% endblock %}