<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 style="padding-top: 150px;padding-left: 40px;margin: 0 auto;width: 70%;text-align: center;">{{ resource.name }}</h1>
<ul style="padding-top: 45px;padding-left: 45px;margin: 0 auto;width: 65%;">
    <p>Address: {{ resource.street }} {{ resource.city }}, {{ resource.state }} {{ resource.zip_code }}</p>
    <p>Description: {{ resource.description }}</p>
</ul>

{% if user.is_staff or resource.created_by.id == user.id %}
<div class="row" style="margin: 0 auto;width: 225px;padding-top: 30px;">
    <div class="col-2 col-md-2">
    <a href="{% url 'edit_resource' resource.pk %}"><button type="button" class="btn btn-warning btn-lg">Edit Resource</button></a>
    </div>
</div>
{% endif %}

{% if resource.street and resource.city %}
<div class="map" style="margin: 0 auto;width: 900px;padding-top: 30px;">
    <iframe class="map-class "width="900" height="450" frameborder="0"  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAgPIVjOnke7nERCIiuF9oLzG2HRS1AwDs&q={{resource.street|urlencode}}+{{resource.city|urlencode}}+,+{{resource.state|urlencode}}+{{resource.zip_code|urlencode}}&zoom=14"></iframe>
</div>
{% endif %}

{% if resource.image %}
<img src="{{resource.image.url}}"/>
{% endif %}
<div class="row" style="padding-top: 45px;padding-left: 45px;margin: 0 auto;width: 65%;">
    <div class="col-8 col-md-8">
      <p>Need more information? Visit their website <a href="{{ resource.website }}" target="_blank">here</a>.</p>
    </div>
</div>
{% endblock %}
