<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="" style="padding-top: 100px;padding-left: 65px;padding-bottom: 35px;">
    <form class="form-horizontal col-sm-10 col-md-8" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
      <legend>Add Resource</legend>
        {{ form|bootstrap_horizontal:'col-sm-2 col-md-2' }}
        <div class="row">
            {% if edit %}
            <div class="col-xs-2 col-sm-1 col-md-2 col-md-offset-2">
                <input type="submit" class="btn btn-info btn-md" value="Update" />
            </div>
            <div class ="col-xs-2 col-sm-1 col-md-2 col-md-offset-1 col-xs-offset-2">
    <a href="{% url 'delete' pk=resource.id %}" class="btn btn-danger btn-md">Delete</a>
            </div>
            {% else %}
            <div class="col-xs-2 col-md-2">
                <input type="submit" class="btn btn-info btn-md" value="Add Resource"/>
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
