{% extends 'searchlist/base.html' %}
  <!--  Search Form Views to our Home page  -->
  <form id="searchform" action="{%  url 'search_results' %}" method="get" accept-charset="utf-8" style="width: 80%; left: 20%; position: absolute">
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search" style="width: 70%">
    <button class= "seachbutton" type="submit" style="height: 22px">
      <i class="fa-fa-seach"></i>
      <label for="button">Submit</label>
    </button>
  </form>

  </div>
</body>
